<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
  	 	http://www.springframework.org/schema/context 
  	 	http://www.springframework.org/schema/context/spring-context-4.2.xsd
 	 	http://www.springframework.org/schema/aop 
 	 	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
 	 	http://www.springframework.org/schema/tx 
 	 	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<context:component-scan base-package="com.weng.mmall.service"/>
	
	<!-- 事务管理器 （JDBC） -->
	<!-- 事务管理器，对mybatis操作数据库进行事务控制，此处使用jdbc的事务控制 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 事务通知 -->
	<!-- tx:advice：对应的处理器类就是TransactionInterceptor类（实现了MethodInterceptor） -->
	<!-- TransactionInterceptor类实现事务是通过transaction-manager属性指定的值进行事务管理 -->
	<tx:advice id="txAdvice"
		transaction-manager="transactionManager">
		<!-- 设置事务管理信息 -->
		<tx:attributes>
			<!-- 增删改使用REQUIRED事务传播行为 -->
			<!-- 查询使用read-only -->
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="insert*" propagation="REQUIRED"/>
			<tx:method name="add*" propagation="REQUIRED"/>
			<tx:method name="create*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="remove*" propagation="REQUIRED"/>
			<tx:method name="del*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="modify*" propagation="REQUIRED"/>
			<tx:method name="edit*" propagation="REQUIRED"/>
			<tx:method name="query*" read-only="true"/>
			<tx:method name="find*" read-only="true"/>
			<tx:method name="select*" read-only="true"/>
		</tx:attributes>
	</tx:advice>

	<!-- 基于AspectJ + XML方式实现声明式事务 -->
	<aop:config>
		<!-- aop:advisor标签使用的是传统spring aop开发方式实现的 -->
		<!-- spring已经实现了该增强功能，spring使用的是实现MethodInterceptor接口的方式实现的 -->
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* *..*.*Impl.*(..))" />
	</aop:config>
	
</beans>